<h1>{{title}}</h1>
<h2>How to be hipsta-licious</h2>

<p>Write a sentence or two and we'll hipstafy it for you!</p>
<form action="/" method="post">
  <input type="textarea" name="input" />
  <input type="submit" />
</form>

<h2>{{output}}</h2>
